.site-content {
    margin: 2vw 2vw
}
form{
    padding: 2vw;
    background-color: rgb(var(--white));
    border-radius: 10px;
    border: 2px solid rgb(var(--almond-D));
}
.wc-block-components-radio-control{
    border: dashed;
}
.wc-block-components-radio-control--highlight-checked label.wc-block-components-radio-control__option--checked-option-highlighted,
.wc-block-components-radio-control-accordion-option, .wc-block-components-radio-control-accordion-option--checked-option-highlighted
{
    box-shadow: none !important;
}
a {
    color: rgb(var(--black));
    text-decoration: none;
}

.wc-block-components-sidebar-layout{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.wc-block-cart-items__row{

    border-radius: 10px;
    padding: 3vw !important;
}
.wc-block-components-main{
    width: 50% !important;
    padding-right: 0 !important;
}
.wc-block-cart-items__row {
    background-color: rgb(var(--beige)) !important;
    border: 2px solid rgb(var(--beige-D)) !important;
    margin-bottom: 2vw;
}
.wc-block-cart-items__row img{
    height: 6rem !important;
}
.wc-block-cart-item__remove-link{
    font-weight: var(--font-weight-semibold) !important;
    text-decoration: none !important;
    color: rgb(var(--beige-D)) !important;
}
.wc-block-cart-item__remove-link:hover{
    color: rgb(var(--light-pink-D)) !important;
}
.wc-block-components-sidebar{
    padding:  3vw !important;
    background-color: rgb(var(--white));
    border:2px solid rgb(var(--black));
    border-radius: 10px;
    height: fit-content;
    max-height: fit-content;
    width: 45% !important;
}
.wc-block-components-totals-shipping__change-address__link{
    display:none !important;
}
.wc-block-components-button{
    font-size: 14px;
    background-color: rgb(var(--green-B));
    color: rgb(var(--white));
    border: 1px solid rgb(var(--black));
    border-radius: 5px;
    font-family: var(--font-primary);
    text-decoration: none;
    text-align: center;
    padding: 10px 20px; 
    transition: background-color 0.5s, color 0.5s;
}
.wc-block-components-button:hover{
    background-color: rgb(var(--black));
    color: rgb(var(--white));
}
.wc-block-cart__submit-container--sticky{
    background-color: rgb(var(--white)) !important;
}

@media screen and (max-width: 1180px) and (orientation: portrait), 
       screen and (max-width: 1024px) {
    h2{
        font-size: calc(1em + 2vw) !important;
    }
    p{
        font-size: calc(1em + 1vw) !important;
    }
    span{
        font-size: calc(16px + 1vw) !important;
    }
    input{
        min-height: fit-content !important;
    }
    /* textarea{
        height: calc(90px - 1vw) !important;
        font-size: calc(1em + 1vw) !important;
    } */
    /* label{
        font-size: calc(1em + 1vw) !important;
    } */
     /* .wc-block-components-radio-control label{
        font-size: calc(1em + 1vw) !important;
    } */
    /* .is-active{
        min-height: fit-content !important;
        height: 100px !important;
        
    }
    .is-active label{
        font-size: calc(0.5em + 1vw) !important;
        margin-bottom: 10px !important;

    } */
    .wc-block-checkout__billing-fields input, 
    .wc-block-checkout__contact-fields input {
        height: calc(2em - 1vw) !important;
        font-size: calc(1em + 1vw) !important;
    }
    .wc-block-checkout__billing-fields label, .wc-block-checkout__contact-fields label{
        font-weight: var(--font-weight-semibold) !important;
        font-size: calc(1.2em + 1vw) !important;
    }
    .wc-blocks-components-select__container{
        height: calc(90px - 1vw) !important;
    }
    .wc-blocks-components-select__container select{
        font-size: calc(1em + 1vw) !important;
    }
    .wc-block-components-main{
        width: 100% !important;
    }
    .wc-block-components-sidebar{
        width: 100% !important;
    }
}
/* @media screen and (max-width: 900px) {
    .wc-block-components-main{
        width: 100% !important;
    }
    .wc-block-components-sidebar{
        width: 100% !important;
    }
} */