#sidebar {
    display: none !important;
}

.woocommerce-breadcrumb {
    font-family: var(--font-primary) !important;
    font-weight: var(--font-weight-semibold) !important;
    font-size: calc(0.5rem + 1vw) !important;
    margin-top: 1rem !important;
    margin-left: calc(20px + 1vw) !important;
}

a, p {
    color: rgb(var(--black));
}

h1 {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: calc(1.5rem + 1vw);
}

h2 {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: calc(0.5rem + 2vw);
}

main label {
    font-family: var(--font-primary);
}

th {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
}

tr {
    margin-top: 1rem;
}

select {
    height: 2rem;
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    background-color: rgb(var(--white));
    border-radius: 2px;
    border: 1px solid rgb(var(--almond-D));
    font-size: 0.8em !important;
}

.sku_wrapper {
    display: none;
}

.product_meta {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
}

.product_meta a {
    text-decoration: none;
    font-weight: var(--font-weight-light);
    color: rgb(var(--black));
}

.product_meta a:hover {
    font-weight: var(--font-weight-medium);
    text-decoration: underline;
}

.product_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5vw;
    margin-top: 1rem;
}

.product {
    margin: 40px;
    padding: 0 15px;
}

.wp-post-image {
    display: block;
    margin: 0 auto;
    max-width: 650px !important;
    height: auto;
}

.woocommerce-product-gallery {
    width: 50% !important;
}

.woocommerce-product-gallery__wrapper {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

main img {
    border: 2px solid rgb(var(--black));
    border-radius: 10px;
}

/* .related img:hover {
    transform: scale(1.05); 
} */

.summary {
    padding: calc(20px + 2vw);
    background-color: rgb(var(--white));
    border: 2px solid rgb(var(--almond-D));
    border-radius: 10px;
    width: 70% !important;
    height: fit-content !important;
}

.woocommerce-product-details__short-description {
    font-weight: var(--font-weight-regular);
    margin-top: 20px;
}

.single_add_to_cart_button {
    background-color: rgb(var(--green-B)) !important;
}

/* .related .product {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
    text-overflow: ellipsis;
    margin: 10px;
    padding: 20px !important;
    background-color: rgb(var(--white));
    transition: transform 0.5s;
} */

.woocommerce-Tabs-panel h2 {
    display: none;
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
}

.woocommerce ul.products::before, 
.woocommerce ul.products::after {
    display: none;
}

.related .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(var(--white));
    margin: 0 !important;
    min-height: auto;
    width: 18% !important;
    border: 2px solid rgb(var(--almond-D));
    border-radius: 10px;
    padding: 15px !important;
    box-shadow: 0 1px 10px rgba(var(--light-pink-D), 0.5);
    transition: box-shadow 0.3s ease;
}

.related .product:hover {
    box-shadow: 0 4px 15px rgba(var(--light-pink-D), 0.7);
}

.related .product a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

.related .button {
    background-color: rgb(var(--white)) !important;
    border: 1px solid rgb(var(--black)) !important;
    border-radius: 5px !important;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold) !important;
    text-align: center;
    padding: 10px 20px !important;
    transition: background-color 0.5s, color 0.5s;
}

.related .button:hover {
    background-color: rgb(var(--black)) !important;
    color: rgb(var(--white)) !important;
}

@media screen and (max-width: 1180px) and (orientation: portrait) {
    .woocommerce-breadcrumb {
        margin-left: 0 !important;
    }

    h1 {
        font-size: calc(2rem + 2vw);
    }

    .related h2 {
        font-size: calc(1rem + 1.5vw) !important;
    }

    .summary {
        font-size: calc(0.5rem + 1.5vw) !important;
    }

    .variations th {
        line-height: 2.5em !important;
    }

    select {
        height: 3rem !important;
    }

    .woocommerce-product-attributes {
        font-size: 2em !important;
    }

    main {
        margin: 5vw;
    }

    main img {
        border-radius: 5px;
    }

    .products {
        gap: 2vw !important;
    }

    .product_container {
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
        gap: 0 !important;
    }

    .product {
        margin: 0;
        padding: 0;
    }

    .product a {
        height: 100%;
    }

    .woocommerce-product-gallery {
        width: 100% !important;
    }

    .woocommerce-product-gallery__wrapper {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
    }

    .summary {
        border-radius: 5px;
        width: 100% !important;
        max-width: -webkit-fill-available !important;
    }

    .related .product {
        width: 40% !important;
    }

    .related .product:hover {
        transform: none;
    }

    .related .button {
        border-radius: 5px !important;
    }

    .price bdi {
        font-size: calc(1.5em + 1vw) !important;
    }

    .related .button {
        display: none !important;
        font-size: calc(0.5rem + 1.5vw) !important;
    }
}

@media screen and (max-width: 650px) {
    .summary {
        padding: calc(5px + 3vw);
    }

    h1 {
        font-size: calc(1.5rem + 1.5vw);
    }

    .price {
        text-align: center !important;
    }

    .price bdi {
        font-size: calc(1em + 1vw) !important;
    }

    .woocommerce-product-attributes {
        font-size: 1em !important;
    }

    .products {
        gap: 6vw !important;
    }

    .related .product {
        width: 85% !important;
    }

    select {
        height: 1.5rem !important;
        min-width: 100% !important;
    }
}
