/* =======================================================
   General Styles
   ======================================================= */



/* Headings styling */
h1 {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    font-size: 2.5em;
    text-align: center;
}

h2, h4 {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium) !important;
    color: rgb(var(--black));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
input{
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-medium) !important;
    color: rgb(var(--black));
}
.awf-filter-title{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium) !important;
    color: rgb(var(--black)) !important;
}

h2 {
    font-size: 1.2em !important;
}

h4 {
    font-size: 1.2vw !important;
}

/* =======================================================
   Rescue Nav Logo
   ======================================================= */

/* Style for WooCommerce images */
.woocommerce img, .woocommerce-page img {
    height: 3rem;
    width: 100%;
    object-fit: contain; /* Ensure images maintain aspect ratio */
}

/* =======================================================
   Shop Page Layout
   ======================================================= */

/* Shop page container layout */
.shop-page-container {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    margin: 5vw;
    flex-direction: row;
}

/* Sidebar styles */
.shop-sidebar {
    background-color: rgb(var(--white));
    padding: 25px;
    min-width: 20vw;
    max-width: 100vw;
    height: fit-content;
    border: 3px solid rgb(var(--light-pink-D));
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(var(--black), 0.5);
    z-index: 1000;
}
.awf-top-reset-btn-container{
    text-align: end;
}
.awf-active-badge {
    display: block !important;
    cursor: auto !important;
}
.awf-active-badge i {
    display: none !important;
}

/* Label styling within the sidebar */
label {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 1.1vw;
    width: 100%;
    border: 1px solid rgb(var(--beige-D));
    border-radius: 5px;
    padding: 15px;
    color: rgb(var(--black));
    text-align: center; /* Ensures label text is centered */
}

/* =======================================================
   Product Cards
   ======================================================= */

/* Product grid layout */
.woocommerce ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2vw;
    margin-left: auto; /* Ensure products align to the right of the sidebar */
}

.woocommerce ul.products::before, 
.woocommerce ul.products::after {
    display: none;
}

/* Individual product card style */
main .product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(var(--white));
    margin: 0 !important;
    min-height: auto;
    min-width: 13em;
    border: 2px solid rgb(var(--almond-D));
    border-radius: 10px;
    padding: 15px !important;
    box-shadow: 0 1px 10px rgba(var(--light-pink-D), 0.5);
    transition: box-shadow 0.3s ease; /* Adds a smooth shadow transition */
}

main .product:hover {
    box-shadow: 0 4px 15px rgba(var(--light-pink-D), 0.7); /* Enhanced hover effect */
}

/* Product link styling */
.woocommerce ul.products li.product a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}

/* Button styling within product cards */
.woocommerce ul.products li.product .button {
    background-color: rgb(var(--white));
    border: 1px solid rgb(var(--black));
    border-radius: 5px;
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);

    text-align: center;
    padding: 10px 20px; /* Added padding for better button appearance */
    transition: background-color 0.5s, color 0.5s;
}

.woocommerce ul.products li.product .button:hover {
    background-color: rgb(var(--black));
    color: rgb(var(--white));
}

/* Product image styling */
.woocommerce ul.products li.product a img {
    border-radius: 10px;
    border: 2px solid rgb(var(--black));
    transition: transform 0.3s ease; /* Smooth image scaling on hover */
}

.woocommerce ul.products li.product a img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}
.woocommerce ul.products li.product .button {
    font-size: 14px;
    margin-top: 0;
}
.product span {
    text-align: center;
}
/* =======================================================
   Filter Buttons and Presets
   ======================================================= */

/* Preset title styling */
.awf-preset-title {
    font-family: var(--font-primary);
    color: rgb(var(--black)) !important;

    text-align: center;
}

/* Filter container styles */
li.awf-filter-container {
    padding-bottom: 7px;
}

/* Radio button label styling */
.awf-filter-container input[type='radio'] + label {
    font-family: var(--font-secondary);
    font-weight: var(--font-weight-bold);
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer; /* Adds a pointer cursor for better UX */
}

/* Hide clear search button */
.awf-clear-search-btn {
    display: none;
}

/* Hover effect for radio button labels */
.awf-filter-container input[type='radio'] + label:hover {
    transition: background-color 0.2s ease;
    background-color: rgb(var(--beige));
}

/* Hide icons in filter labels */
.awf-filters-1-1-container.awf-style-icons label::before,
.awf-filters-1-3-container.awf-style-icons label::before {
    display: none;
}

/* Active filter styling */
.awf-active label {
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: rgb(var(--beige));
    color: rgb(var(--beige-D));
}

/* Filter button container styling */
.awf-btn-container {
    text-align: center;
}

/* Filter button styling */
.awf-btn-container button {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-semibold);
    position: relative;
    z-index: auto;
    padding: 15px 30px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer; /* Adds pointer cursor */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smoother transition */
}

.awf-btn-container button:hover {
    background-color: rgb(var(--black));
    color: rgb(var(--white));
}
.awf-togglable-preset-close-btn {
    left: 0 !important;
    text-align: left !important;
    margin-bottom: 55px !important;
}

/* =======================================================
   Responsive Styles
   ======================================================= */

   @media screen and (max-width: 1080px) {
    .shop-page-container {
        flex-direction: column;
        gap: 3vw;
        margin: 3vw;
    }
   }
/* Tablet styles */
@media screen and (max-width: 900px) {
    /* Adjust font size for smaller screens */
    h4 {
        font-size: 1.5em !important;
    }

    /* Adjust shop page layout for tablets */
    .shop-page-container {
        flex-direction: column;
        gap: 3vw;
        margin: 3vw;
    }

    /* Adjust sidebar for tablets */
    .shop-sidebar {
        padding: 15px;
        background-color: rgba(var(--almond), 0.0);
        border: none;
        box-shadow: none;
    }

    /* Adjust product card layout for tablets */
    .woocommerce ul.products {
        gap: 1.5vw;
    }
    h2{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0 0 0.5em 0 !important;
    }
    main .product {
        min-width: 20%;
        margin: 0;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 1px 10px rgba(var(--light-pink-D), 0.5);
    }

    .woocommerce ul.products li.product a h2 {
        font-size: 1em !important;
    }

    .woocommerce ul.products li.product .button {
        font-size: 11px;
    }

    .awf-togglable-preset-mode-on .awf-togglable-on-s-preset.awf-left-popup-sidebar-mode {
        width: auto !important;
        left: 0 !important;
}

/* Phone styles */
@media screen and (max-width: 480px) {
    /* Adjust font size for phones */
    h4 {
        font-size: 1.2em !important;
    }

    /* Adjust shop page layout for phones */
    .shop-page-container {
        flex-direction: column;
        gap: 2vw;
        margin: 2vw;
    }

    /* Adjust sidebar for phones */
    .shop-sidebar {
        padding: 15px;
        background-color: rgba(var(--almond), 0.0);
        border: none;
        box-shadow: none;
    }

    /* Adjust product card layout for phones */
    .woocommerce ul.products {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 2vw;
    }

    main .product {
        padding: 10px !important;
        border-radius: 5px;
        box-shadow: none;
    }

    .woocommerce ul.products li.product a h2 {
        font-size: 0.8em !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Hide buttons on phones */
    .woocommerce ul.products li.product .button {
        display: none;
    }

    /* Align product prices */
    .product span {
        width: fit-content;
        align-self: center;
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
    }

    /* Adjust price font size */
    .product span bdi {
        font-size: 0.8em;
        display: flex;
        font-weight: 700;
    }

}
